/* ======== HEADER ======== */
header {
  font-family: system-ui, sans-serif; 
  text-align: center;
  color: white;                                     
  text-shadow: 2px 2px 6px rgba(0,0,0,0.7); 

   /* Imagem de fundo */
  background-image: url("Capa.jpg");  
  background-position: center;                       /* Centraliza a imagem */
  background-size: cover;                            /* Faz a imagem cobrir toda a área */
  padding: 360px 20px 40px 80px;                     /* Espaçamento interno (topo, laterais, baixo) */
}

h2 {
  font-size: 30px;                                  
}

p {
  font-size: 20px;                                   
  font-weight: 700;                              
}

/* ======== MENU ======== */
nav {
  padding: 10px;                                      /* Espaçamento interno (vertical) */   
  background-color: white;                         
  border-bottom: 2px solid #CBB59B;                 /* Linha inferior */
}

/* Lista do menu */
nav ul {
  font-family: system-ui, sans-serif;
  font-size: 18px;                                   
  font-weight: 900; 
  color: #6c5d4a; 

  list-style: none;                                  /* Remove os marcadores da lista */
  display: flex;                                     /* Deixa os itens lado a lado (flexbox) */
  justify-content: center;                           /* Centraliza os itens no menu */
  gap: 200px;                                        /* Distância entre os links */
  padding: 0;                                        /* Remove espaçamento padrão da lista */
  margin: 0;                                         /* Remove margens padrão */
}

/* Efeito ao passar o mouse */
nav a:hover {
  color: #A39381;                                  /* Muda a cor do texto */
}

/* ======== BODY ======== */
body {
  background-color: #F5F5DC;                       
  margin: 0;                                         /* Remove margens padrão do navegador */
}
