/* ======== HEADER ======== */
header {
  font-family: system-ui, sans-serif; 
  text-align: center;
  color: #ffffff;;                                     
  text-shadow: 2px 2px 6px rgb(188, 184, 184); 

   /* Imagem de fundo */
  background-image: url("Capa.jpg");  
  background-position: center;                       /* Centraliza a imagem */
  background-size: cover;                            /* Faz a imagem cobrir toda a área */
  padding: 200px 40px 40px 40px;                     /* Espaçamento interno (topo, laterais, baixo) */
}

h2 {
  font-size: 25px;  
  justify-content: center;   
  padding: 90px 90px 90px 90px;                                  
}

p {
  font-size: 20px;                                   
  font-weight: 700;                              
}

/* ======== MENU ======== */
nav {
  padding: 10px;                                      /* Espaçamento interno (vertical) */   
  background-color: white;                         
  border-bottom: 2px solid #CBB59B;                 /* Linha inferior */
}

/* Lista do menu */
nav ul {
  font-family: system-ui, sans-serif;
  font-size: 18px;                                   
  font-weight: 900; 
  color: #6c5d4a; 

  list-style: none;                                  /* Remove os marcadores da lista */
  display: flex;                                     /* Deixa os itens lado a lado (flexbox) */
  justify-content: center;                           /* Centraliza os itens no menu */
  gap: 200px;                                        /* Distância entre os links */
  padding: 0;                                        /* Remove espaçamento padrão da lista */
  margin: 0;                                         /* Remove margens padrão */
}

/* Efeito ao passar o mouse */
nav a:hover {
  color: #A39381;                                  /* Muda a cor do texto */
}

.input-task{
  display: flex;  
  justify-content: center;   
  padding: 100px 20px 40px 80px;     
}

.empty-state{
 font-family: system-ui, sans-serif;
 text-align: center;                       
}

.Progress{
  font-family: system-ui, sans-serif; 
  font-size: 18px;   
  color: #6c5d4a;
  font-weight: 750;
  display: flex;                                     
  justify-content: center;                     
  gap: 60px;    
  padding: 360px 20px 70px 80px;                                       
}

/* ======== BODY ======== */
body {
  background-color: #F5F5DC;                       
  margin: 0;                                         /* Remove margens padrão do navegador */
}
